services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: medusa-db
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./medusa-backend
    ports:
      - "9000:9000"
    environment:
      - DATABASE_URL=postgres://postgres@postgres:5432/medusa-db?sslmode=disable
      - JWT_SECRET=supersecret
      - COOKIE_SECRET=supersecret
      - STORE_CORS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:9000
      - ADMIN_CORS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:9000
      - AUTH_CORS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:9000
      - MEDUSA_BACKEND_URL=http://localhost:9000
      - MEDUSA_ADMIN_ONBOARDING_TYPE=default
      - NODE_ENV=development
    volumes:
      - backend_data:/app/data
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: ./vue-storefront
      args:
        - VITE_MEDUSA_BACKEND_URL=http://localhost:9000
        - VITE_MEDUSA_PUBLISHABLE_KEY=pk_04f29094f6e64d4dea001b6899224a07c35d774798fd8fe18636cd196381e9b4
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
  backend_data:
